# Docker related
docker-compose.yaml
Dockerfile

# Git related
.gitignore

# VSCode related
.history
.vscode

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Application related
bin
log
LICENSE
README.md
